.swiper {
	width: 95%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-pagination-bullet {
	background: rgb(37, 44, 65) !important;
}
